[submodule "submodules/openblocks-module-interface"]
	path = submodules/openblocks-module-interface
	url = https://github.com/OpenBlocksTeam/openblocks-module-interface
[submodule "openblocks-module-interface"]
	path = openblocks-module-interface
	url = https://github.com/OpenBlocksTeam/openblocks-module-interface
