[submodule "openblocks-module-interface"]
	path = openblocks-module-interface
	url = https://github.com/OpenBlocksTeam/openblocks-module-interface
[submodule "android-build-tools"]
	path = android-build-tools
	url = https://github.com/OpenBlocksTeam/android-build-tools
